name: CI

on:
  push:
    branches:
      - master
      - 'rocm-jaxlib-v*'
  pull_request:
    branches:
      - master
      - 'rocm-jaxlib-v*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  call-build-wheels:
    strategy:
      matrix:
        rocm-version: ["7.1.1"]
    uses: ./.github/workflows/build-wheels.yml
    with:
      # TODO: Add back Python 3.13 when we're ready to move to a more recent version of XLA. 3.13
      #       fails with a complaint abou the pipes module.
      python-versions: "3.11,3.12"
      rocm-version: ${{ matrix.rocm-version }}
      runner-label: '["linux-x86-64-1gpu-amd"]'
    secrets:
      rbe_ci_cert: ${{ secrets.RBE_CI_CERT }}
      rbe_ci_key: ${{ secrets.RBE_CI_KEY }}
  call-build-docker:
    needs: call-build-wheels
    strategy:
      matrix:
        rocm-version: ["7.1.1"]
    uses: ./.github/workflows/build-docker.yml
    with:
      rocm-version: ${{ matrix.rocm-version }}
      runner-label: '["linux-x86-64-1gpu-amd"]'
