name: CI

on:
  push:
    branches:
      - master
      - 'rocm-jaxlib-v*'
  pull_request:
    branches:
      - master
      - 'rocm-jaxlib-v*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test-wheels:
    runs-on: linux-x86-64-1gpu-amd
    strategy:
      fail-fast: false
      matrix:
        rocm-version: ["7"]
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    container:
      image: rocm/tensorflow-build@sha256:7fcfbd36b7ac8f6b0805b37c4248e929e31cf5ee3af766c8409dd70d5ab65faa
      options: >-
        -w ${{ github.workspace }}/jax_rocm_plugin
        --device=/dev/kfd
        --device=/dev/dri
        --group-add video
        --cap-add=SYS_PTRACE
        --security-opt seccomp=unconfined
        --shm-size 16G
    defaults:
      run:
        working-directory: jax_rocm_plugin
    steps:
      - name: Checkout plugin repo
        uses: actions/checkout@v4

      - name: Get RBE cluster keys
        env:
          RBE_CI_CERT: ${{ secrets.RBE_CI_CERT }}
          RBE_CI_KEY: ${{ secrets.RBE_CI_KEY }}
        run: |
          echo "$RBE_CI_CERT" >> ci-cert.crt
          echo "$RBE_CI_KEY" >> ci-cert.key

      - name: Build wheels (Python ${{ matrix.python-version }})
        run: |
          mkdir -p wheelhouse
          bash build/rocm/build_wheels.sh \
            --config=rocm_rbe \
            --remote_upload_local_results \
            --wheelhouse=$(pwd)/wheelhouse \
            --rocm_version=${{ matrix.rocm-version }} \
            --git_hash=${GITHUB_SHA} \
            --repo_env=HERMETIC_PYTHON_VERSION=${{ matrix.python-version }} \
            --curses=no \
            --color=yes

      - name: Install wheels (Python ${{ matrix.python-version }})
        shell: bash
        run: |
          JAX_DIR=bazel-jax_rocm_plugin/external/jax
          python${{ matrix.python-version }} -m venv /tmp/testenv
          source /tmp/testenv/bin/activate
          pip install wheelhouse/*.whl
          pip install "${JAX_DIR}"
          pip install -r "${JAX_DIR}/build/test-requirements.txt"

      - name: Smoke test wheels (Python ${{ matrix.python-version }})
        shell: bash
        run: |
          source /tmp/testenv/bin/activate
          JAX_DIR=bazel-jax_rocm_plugin/external/jax
          cd "${JAX_DIR}"
          pytest -x -v tests/nn_test.py tests/random_test.py

      - name: Archive plugin wheels
        uses: actions/upload-artifact@v4
        with:
          name: plugin_wheels_r${{ matrix.rocm-version }}_py${{ matrix.python-version }}
          path: jax_rocm_plugin/wheelhouse/*.whl
