name: Nightly RBE

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/nightly-rbe.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: linux-x86-64-4gpu-amd-gfx942
    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.11", "3.12", "3.13", "3.14"]
    container:
      image: rocm/tensorflow-build@sha256:7fcfbd36b7ac8f6b0805b37c4248e929e31cf5ee3af766c8409dd70d5ab65faa
      options: >-
        -w ${{ github.workspace }}/jax_rocm_plugin
        --device=/dev/kfd
        --device=/dev/dri
        --group-add video
        --cap-add=SYS_PTRACE
        --security-opt seccomp=unconfined
        --shm-size 16G
    defaults:
      run:
        working-directory: jax_rocm_plugin
    steps:
      - name: Checkout plugin repo
        uses: actions/checkout@v4

      - name: Get RBE cluster keys
        env:
          RBE_CI_CERT: ${{ secrets.RBE_CI_CERT }}
          RBE_CI_KEY: ${{ secrets.RBE_CI_KEY }}
        run: |
          echo "$RBE_CI_CERT" >> ci-cert.crt
          echo "$RBE_CI_KEY" >> ci-cert.key

      - name: Run single-GPU unit tests (Python ${{ matrix.python_version }})
        if: always()
        run: |
          bash build/rocm/ci_run_jax_ut.sh \
            --config=rocm_sgpu \
            --config=rocm_rbe \
            --repo_env=HERMETIC_PYTHON_VERSION=${{ matrix.python_version }} \
            --curses=no \
            --color=yes \
            -- \
            @jax//tests:gpu_tests \
            @jax//tests:backend_independent_tests

      - name: Run multi-GPU unit tests (Python ${{ matrix.python_version }})
        if: always()
        run: |
          bash build/rocm/ci_run_jax_ut.sh \
            --config=rocm_mgpu \
            --config=rocm_rbe \
            --repo_env=HERMETIC_PYTHON_VERSION=${{ matrix.python_version }} \
            --curses=no \
            --color=yes \
            --strategy=TestRunner=local \
            -- \
            @jax//tests:gpu_tests \
            @jax//tests:backend_independent_tests

      - name: Upload logs to artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: logs-rbe-py${{ matrix.python_version }}
          path: jax_rocm_plugin/logs/
