name: Nightly

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/nightly.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write

jobs:
  call-build-wheels:
    strategy:
      fail-fast: false
      matrix:
        rocm-version: ["7.1.0", "7.2.0"]
        include:
          - rocm-version: "7.1.0"
            runner-label: '["linux-x86-64-1gpu-amd"]'
          - rocm-version: "7.2.0"
            rocm-build-job: "compute-rocm-dkms-no-npi-hipclang"
            rocm-build-num: "16885"
            runner-label: '["internal"]'
    uses: ./.github/workflows/build-wheels.yml
    with:
      python-versions: "3.11,3.12"
      rocm-version: ${{ matrix.rocm-version }}
      rocm-build-job: ${{ matrix.rocm-build-job }}
      rocm-build-num: ${{ matrix.rocm-build-num }}
      runner-label: ${{ matrix.runner-label }}
    secrets:
      rbe_ci_cert: ${{ secrets.RBE_CI_CERT }}
      rbe_ci_key: ${{ secrets.RBE_CI_KEY }}
  call-build-docker:
    needs: call-build-wheels
    strategy:
      fail-fast: false
      matrix:
        rocm-version: ["7.1.0", "7.2.0"]
        include:
          - rocm-version: "7.1.0"
            runner-label: '["linux-x86-64-1gpu-amd"]'
          - rocm-version: "7.2.0"
            rocm-build-job: "compute-rocm-dkms-no-npi-hipclang"
            rocm-build-num: "16885"
            runner-label: '["internal"]'
    uses: ./.github/workflows/build-docker.yml
    with:
      rocm-version: ${{ matrix.rocm-version }}
      rocm-build-job: ${{ matrix.rocm-build-job }}
      rocm-build-num: ${{ matrix.rocm-build-num }}
      runner-label: ${{ matrix.runner-label }}
      extra-cr-tag: "nightly"
  call-test-and-upload:
    needs: call-build-docker
    strategy:
      fail-fast: false
      matrix:
        test-command:
          - "python jax_rocm_plugin/build/rocm/run_single_gpu.py -c -s"
          - "python jax_rocm_plugin/build/rocm/run_multi_gpu.py -c -s"
        rocm-version: ["7.1.0", "7.2.0"]
        ubuntu-version: ["22", "24"]
        include:
          - test-command: "python jax_rocm_plugin/build/rocm/run_single_gpu.py -c -s"
            runner-label: '["linux-x86-64-1gpu-amd"]'
            test-id: "single"
          - test-command: "python jax_rocm_plugin/build/rocm/run_multi_gpu.py -c -s"
            runner-label: '["linux-x86-64-4gpu-amd"]'
            test-id: "multi"
    uses: ./.github/workflows/test-and-upload.yml
    with:
      rocm-version: ${{ matrix.rocm-version }}
      ubuntu-version: ${{ matrix.ubuntu-version }}
      rocm-build-num: ${{ matrix.rocm-build-num || '16885' }}
      github-sha: ${{ github.sha }}
      github-run-id: ${{ github.run_id }}
      runner-label: ${{ matrix.runner-label }}
      test-command: ${{ matrix.test-command }}
      test-id: ${{ matrix.test-id }}
    secrets:
      ROCM_JAX_DB_HOSTNAME: ${{ secrets.ROCM_JAX_DB_HOSTNAME }}
      ROCM_JAX_DB_USERNAME: ${{ secrets.ROCM_JAX_DB_USERNAME }}
      ROCM_JAX_DB_PASSWORD: ${{ secrets.ROCM_JAX_DB_PASSWORD }}
      ROCM_JAX_DB_NAME: ${{ secrets.ROCM_JAX_DB_NAME }}
