name: Nightly RBE

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/nightly-rbe.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: linux-x86-64-4gpu-amd-gfx942
    container:
      image: rocm/tensorflow-build@sha256:7fcfbd36b7ac8f6b0805b37c4248e929e31cf5ee3af766c8409dd70d5ab65faa
      options: >-
        -w ${{ github.workspace }}/jax_rocm_plugin
        --device=/dev/kfd
        --device=/dev/dri
        --group-add video
        --cap-add=SYS_PTRACE
        --security-opt seccomp=unconfined
        --shm-size 16G
    defaults:
      run:
        working-directory: jax_rocm_plugin
    steps:
      - name: Checkout plugin repo
        uses: actions/checkout@v4

      - name: Get RBE cluster keys
        env:
          RBE_CI_CERT: ${{ secrets.RBE_CI_CERT }}
          RBE_CI_KEY: ${{ secrets.RBE_CI_KEY }}
        run: |
          echo "$RBE_CI_CERT" >> ci-cert.crt
          echo "$RBE_CI_KEY" >> ci-cert.key

      - name: Create temporary wheelhouse directory
        id: wheelhouse
        run: |
          WHEELHOUSE_DIR=$(mktemp -d)
          echo "dir=$WHEELHOUSE_DIR" >> "$GITHUB_OUTPUT"

      - name: Build rocm plugin wheels
        run: |
          bash build/rocm/build_plugin_wheels.sh \
            --wheelhouse=${{ steps.wheelhouse.outputs.dir }} \
            --rocm_version=7 \
            --repo_env=HERMETIC_PYTHON_VERSION=3.12 \
            --config=rocm_rbe

      - name: Run single-GPU unit tests (bazel RBE)
        if: always()
        run: |
          bash build/rocm/run_jax_singlegpu_ut.sh \
            --wheelhouse=${{ steps.wheelhouse.outputs.dir }} \
            --rocm_version=7 \
            --jax_version=0.8.0 \
            --repo_env=HERMETIC_PYTHON_VERSION=3.12 \
            --config=rocm_rbe

      - name: Run multi-GPU unit tests (bazel RBE)
        if: always()
        run: |
          bash build/rocm/run_jax_multigpu_ut.sh \
            --wheelhouse=${{ steps.wheelhouse.outputs.dir }} \
            --rocm_version=7 \
            --jax_version=0.8.0 \
            --repo_env=HERMETIC_PYTHON_VERSION=3.12 \
            --config=rocm_rbe

      - name: Upload logs to artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: logs-rbe-multigpu
          path: jax_rocm_plugin/logs/
